body {
    background-color: whitesmoke;
}

hr {
    border: 0.5px solid black;
}

.headertitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: lightgray;
    font: bold;
}

.div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button1 {
    width: 50px;
    height: 25px;
    padding-bottom: 25px;
    border: none;
    background-color: lightgray;
    transition-duration: 0.3s;
}

.button1:hover {
    background-color: white;
}

.button1:active {
    background-color: gainsboro;
}

.divbutton1 {
    padding: 5px;
}

#cards{
    width: 1000px;
    margin: 20px auto 20px auto;

}
.card{
    padding: 20px;
    box-shadow: 0px 0px 3px 0px gray;
    border-radius: 10px;
    flex: 1;
}